.section_form{
    background-color: gainsboro;
    height: 100%;
    padding-bottom: 30px;
}
.section{
    margin: auto;
    width: 50%;
}

.question_from_top_desc{
    box-sizing: border-box;
    font-family: 'Google sans',Roboto,Arial,sans-serif;
    font-size:10px ;
    font-weight: 400;
    line-height: 40px;
    width: 300%;
    border: none;
    outline: none;
    border-bottom:1px solid #f4f4f4 ;
    color: black;
    height: 35px;
}
.question_form_top{
    background-color: white;
    border-top: 8px solid rgb(69, 159, 228);
    border-radius: 8px;
    padding: 30px 25px;
    text-transform: capitalize;
}
.selec{
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 15px;
}
.button{
    background-color: rgb(69, 159, 228);
  font-size:16px;
  color:white;
  position: center;
  padding: 10px 45px 10px;
  margin-left: 500px;
  margin-top: 20px;
}
input[type="radio"],
input[type="checkbox"]{
    margin-right: 5px;
}